@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Get in Touch";
}

<h1>
    Contacts
</h1>

<ul>
    <li>CUSTOMER CARE: 044-73637383</li>
    <li>TRACKING AGENT: 044-84848484</li>
    <li>SHIPPING MANAGER:044-37733883</li>
    <li>WAREHOUSE:044-73838383</li>
    <li>SERVICE MANAGER:044-82828289</li>
</ul>
<span style='font-size:150px;'>&#128666;</span>
