@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-4" style="font-family:'Gill Sans';font-display:initial;">WELCOME</h1>
        <div>
            <footer class="border-top footer text-muted">
                <div class="container">
</div>
</footer>
</div>