@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Guidance";
}

<h1>Welcome to the Guidance Platform,hope this is useful to you</h1>

<p style="font-size:20px;font-family:'Lucida Sans'">
    Welcome to Delivery Express, South Asia's premier express air and integrated transportation and distribution company that accesses the largest and most comprehensive express and logistics network across 220 countries worldwide.

    <p>Domestic Priority
    At Delivery Express, we understand the value of your time. This is why we go the distance to make speedy and safe delivery of your shipments a priority. Our Domestic Priority services are specially designed to offer time-critical businesses a competitive edge with the fastest delivery services.

    Our services are subject to our Terms and Conditions of Domestic Carriage - Domestic Priority and the liability and terms incorporated therein. Please read these carefully before you avail of our services.

    Benefits of these services include:



   <ul>
       <li>Delivery across Blue Dart Country in India
    Click on Location Finder to search for the delivery locations you require, or Contact Blue Dart.</li>


    <li>Free pick-up from your location
    Contact Blue Dart to organize a pick-up.</li>

    <li>Real-time tracking
    Track your shipments online in real-time from pick-up to delivery. You may also Contact Blue Dart for the status of your consignments.</li>

    <li>Regulatory Clearances
    Our team of specialists resolve your regulatory requirements and obtain required clearances from all the states in India.</li>
    
    <li>Free Computerized Proof of Delivery
    Receive proof of delivery with the name of the consignee and date and time of the delivery on request. Use our Tracking service to view the proof of delivery, or Contact Blue Dart.</li>

    </ul>

    </p>