@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>We have created some packaging tips for the Customers this my save a lot of money and space to the customers</h3>


<div>
    <p>

        ​​A parcel should ideally be packed and enclosed in a reasonably stron​g case wrapper, or cover fastened in a manner calculated to preserve the contents from loss or damage in the post, to prevent any tampering therewith, and to protect other postal articles from being damaged in any way thereby.
        If a parcel contains cloth or woolen material it must be packed in a strong wrapper with an outer covering of stout card-board or cloth. It is suggested to use a wooden or a stout cardboard case according to the nature of the article for packing a parcel.
        Liquid and substances which liquefy easily must be dispatched in a double receptacle.
        Between the first receptacle (bottle, talks, box etc) and the second (which must be a box of metal or strong wood) some space must be left to be filled with saw-dust, bran or some other absorbing material in sufficient quantity to absorb all the liquid contents in the event of breakage.
        Live-bees must be enclosed in suitable cases and so packed as to prevent all risk of injury to other postal articles in course of transmission by post or to officers of the Post Office
    </p>
</div>